$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$green          : #738A05;

$color-background	: #fff; // used by 37 signals 
$color-body		    : #424242; 
$color-links	    : #424242;

$font-body        : "chaparral-pro", serif;
$font-headings    : "franklin-gothic-urw", sans-serif;
$font-features    : "franklin-gothic-urw", sans-serif;
$font-nav-symbols : "chaparral-pro", serif;
$font-nav-body    : "chaparral-pro", serif;
$font-nav         : "franklin-gothic-urw", sans-serif;

$default-border-radius : 10px;


$xsphone               : 320px;
$phone                 : 480px;
$tablet                : 768px;
$medium                : 992px;
$large                 : 1200px;

// $header-width-xsphone  : 320px;
// $header-width-phone    : 350px;
// $header-width-tablet   : 768px;
// $header-width-medium   : 992px;
// $header-width-large    : 1170px;

$read-width-xsphone    : 300px;
$read-width-phone      : 350px;
$read-width-tablet     : 500px;
$read-width-medium     : 700px;
$read-width-large      : 700px;

// $drawer-width-xsphone  : 320px;
// $drawer-width-phone    : 480px;
// $drawer-width-tablet   : 500px;
// $drawer-width-medium   : 700px;
// $drawer-width-large    : 900px;

$header-height-small          : 50px;
$header-height-large          : 100px;
$mobile-header-scene-height   : 30px;
$mobile-header-anchor-height  : 25px;



// $iphone4       : 320px 480px;
// $iphone5       : 320px 568px;
// $iphone6       : 375px 667px;
// $iphone6plus   : 540px 960px;
// $tablet        : 768px 1024px;


